In [16]:
from codes import open_file
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
import matplotlib.pyplot as plt

In [2]:
d_train = open_file("../Output/d_train.csv")

In [3]:
d_train.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
print(d_train.shape)
d_train.head()

(39329, 8)

   id  carat  depth  table  cut_c  color_c  clarity_c     y
0   0   1.21   63.0   57.0      4        2          3  6134
1   1   0.28   64.0   56.0      2        6          5   532
2   2   0.42   61.2   58.0      3        4          4  1103
3   3   0.26   61.1   57.0      4        2          7   600
4   4   1.10   63.4   57.0      1        3          2  4997

In [5]:
d_test = open_file("../Output/d_test.csv")

In [6]:
d_test.drop(columns=['Unnamed: 0'], inplace=True)

In [7]:
print(d_test.shape)
d_test.head()

(13449, 7)

   id  carat  depth  table  cut_c  color_c  clarity_c
0   0   0.30   60.0   56.0      4        2          1
1   1   0.34   62.1   57.0      4        6          7
2   2   1.57   60.3   58.0      2        1          3
3   3   0.31   61.8   57.0      4        2          3
4   4   1.51   64.0   60.0      1        1          6

# Train

In [8]:
X = d_train.drop(columns=['y'])
y = d_train['y']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

# Model

In [10]:
model = GradientBoostingRegressor(n_estimators=1000, max_depth=8, min_samples_split=25, min_samples_leaf=10, learning_rate = 0.01, loss='ls')

In [11]:
model.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.01, loss='ls', max_depth=8,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=10, min_samples_split=25,
                          min_weight_fraction_leaf=0.0, n_estimators=1000,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [12]:
y_pred = model.predict(d_test)

In [13]:
result = pd.DataFrame({"id":range(len(y_pred)),"price":y_pred})

In [14]:
print(result.shape)
result.head()

(13449, 2)

   id        price
0   0   471.849430
1   1  1571.570456
2   2  9716.439429
3   3   552.242287
4   4  9599.902748

# Export in CSV

In [15]:
result.to_csv("../Output/test_m2.csv", index=False)

Now, let's test in kaggle.