In [1]:
from codes import open_file
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

In [2]:
d_train = open_file("../Output/d_train.csv")

In [15]:
d_train.shape
d_train.head()

,Unnamed: 0,0,1,2,3,4,5,6,y
0,0,-0.672434,0.374798,0.383579,-0.071006,0.381690,-0.330279,-0.020314,6134
1,1,-0.493746,-0.318373,0.506668,-0.187858,-0.253279,0.433971,0.332220,532
2,2,-0.831077,-0.385500,-0.207628,0.140686,0.022722,0.161130,0.267057,1103
3,3,-0.499659,-0.335137,-0.147608,-0.052770,0.283661,-0.245454,0.687561,600
4,4,-0.574673,0.238643,0.432647,-0.060695,-0.605385,-0.085444,-0.219411,4997

In [4]:
d_test = open_file("../Output/d_test.csv")

In [17]:
d_test.shape

(13449, 8)

In [18]:
d_test.head()

,Unnamed: 0,0,1,2,3,4,5,6
0,0,-0.573731,-0.347220,-0.398643,-0.215752,0.324196,-0.266921,-0.410432
1,1,-0.477602,-0.266150,0.068420,-0.055877,0.269917,0.419759,0.666487
2,2,-0.571817,0.525832,-0.328951,0.081276,-0.267636,-0.458297,-0.006762
3,3,-0.724941,-0.430222,0.017053,-0.084840,0.409823,-0.337420,-0.008575
4,4,-0.419889,0.355977,0.378748,0.277392,-0.413581,-0.336630,0.438416

# Train

In [6]:
X = d_train.drop(columns=['y'])
y = d_train['y']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

# Apply top models

In [8]:
models = {
    "GradientBoostingRegressor": GradientBoostingRegressor(n_estimators=100, learning_rate=0.1,max_depth=1, random_state=0, loss='ls'),
    "LinearRegression": LinearRegression(),
    "RandomForest": RandomForestRegressor(n_estimators=1000, warm_start=False, min_samples_leaf=2, min_samples_split=4)
}

In [9]:
model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1,max_depth=1, random_state=0, loss='ls')

In [10]:
model.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=1,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=0, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [11]:
y_pred = model.predict(d_test)

In [12]:
result = pd.DataFrame({"id":range(len(y_pred)),"price":y_pred})

In [13]:
print(result.shape)
result.head()

(13449, 2)

   id        price
0   0  3714.872193
1   1  3722.626494
2   2  3688.662850
3   3  3746.187844
4   4  3705.086147

# Export in CSV

In [14]:
result.to_csv("../Output/test_model1.csv", index=False)

Now, let's test in kaggle.