In [1]:
from codes import open_file
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import h2o
from h2o.automl import H2OAutoML
from h2o.estimators.glm import H2OGeneralizedLinearEstimator

# H2O Auto ML

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.7" 2020-04-14; OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-2ubuntu219.10); OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-2ubuntu219.10, mixed mode, sharing)
  Starting server from /home/carolina/.local/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpfpndepfe
  JVM stdout: /tmp/tmpfpndepfe/h2o_carolina_started_from_python.out
  JVM stderr: /tmp/tmpfpndepfe/h2o_carolina_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.2
H2O_cluster_version_age:    12 days
H2O_cluster_name:           H2O_from_python_carolina_y9zfv6
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.908 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.5 final
--------------------------  ------------------------------------------------------------------

In [3]:
train = h2o.import_file("../Output/d_train.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [4]:
train.head()

C1,id,carat,depth,table,cut_c,color_c,clarity_c,y
0,0,1.21,63,57,4,2,3,6134
1,1,0.28,64,56,2,6,5,532
2,2,0.42,61.2,58,3,4,4,1103
3,3,0.26,61.1,57,4,2,7,600
4,4,1.1,63.4,57,1,3,2,4997
5,5,0.35,62.2,56,4,4,2,583
6,6,0.31,62.3,54,4,1,3,452
7,7,0.43,60.2,57,3,2,2,919
8,8,0.51,60.4,59,3,1,1,956
9,9,1.22,61.9,55.7,4,1,4,6469

In [5]:
train = train.na_omit()

In [6]:
train.head()

C1,id,carat,depth,table,cut_c,color_c,clarity_c,y
0,0,1.21,63,57,4,2,3,6134
1,1,0.28,64,56,2,6,5,532
2,2,0.42,61.2,58,3,4,4,1103
3,3,0.26,61.1,57,4,2,7,600
4,4,1.1,63.4,57,1,3,2,4997
5,5,0.35,62.2,56,4,4,2,583
6,6,0.31,62.3,54,4,1,3,452
7,7,0.43,60.2,57,3,2,2,919
8,8,0.51,60.4,59,3,1,1,956
9,9,1.22,61.9,55.7,4,1,4,6469

In [7]:
# Parameters

y = 'y'

training_frame = train

max_models = 10

In [9]:
# Run AutoML 

#aml = H2OAutoML(max_models=3)
#aml.train(y=y, training_frame=train)

#I need to run in colab, because my jupyter doesn't support this operation.

In [10]:
# lb = aml.leaderboard

# In colab

In [13]:
# lb.head(rows=lb.nrows)

# in colab

# Result

model_id	mean_residual_deviance	rmse	mse	mae	rmsle

StackedEnsemble_AllModels_AutoML_20200511_160745	288481	537.104	288481	296.641	nan

XGBoost_3_AutoML_20200511_160745	310010	556.785	310010	320.137	nan

XGBoost_1_AutoML_20200511_160745	366771	605.616	366771	348.312	nan

XGBoost_2_AutoML_20200511_160745	371475	609.488	371475	365.161	nan

TOP MODEL: GradientBoosting