In [29]:
from codes import open_file
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

In [30]:
dtrain = open_file("../Output/dtrain.csv")

In [31]:
dtrain.shape
dtrain.head()

   Unnamed: 0  id  carat  depth  table  cut_c  color_c  clarity_c     y
0           0   0   1.21   63.0   57.0      4        2          3  6134
1           1   1   0.28   64.0   56.0      2        6          5   532
2           2   2   0.42   61.2   58.0      3        4          4  1103
3           3   3   0.26   61.1   57.0      4        2          7   600
4           4   4   1.10   63.4   57.0      1        3          2  4997

In [4]:
d_test = open_file("../Output/d_test.csv")

In [17]:
d_test.shape

(13449, 8)

In [18]:
d_test.head()

,Unnamed: 0,0,1,2,3,4,5,6
0,0,-0.573731,-0.347220,-0.398643,-0.215752,0.324196,-0.266921,-0.410432
1,1,-0.477602,-0.266150,0.068420,-0.055877,0.269917,0.419759,0.666487
2,2,-0.571817,0.525832,-0.328951,0.081276,-0.267636,-0.458297,-0.006762
3,3,-0.724941,-0.430222,0.017053,-0.084840,0.409823,-0.337420,-0.008575
4,4,-0.419889,0.355977,0.378748,0.277392,-0.413581,-0.336630,0.438416

# Train

In [6]:
X = d_train.drop(columns=['y'])
y = d_train['y']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

# Model:

In [20]:
model = GradientBoostingRegressor(n_estimators=1000)

In [21]:
model.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=1000,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [22]:
y_pred = model.predict(d_test)

In [23]:
result = pd.DataFrame({"id":range(len(y_pred)),"price":y_pred})

In [24]:
print(result.shape)
result.head()

(13449, 2)

   id        price
0   0  1847.313861
1   1  1670.904752
2   2  6637.562334
3   3  2677.972051
4   4  5056.978638

# Export in CSV

In [25]:
result.to_csv("../Output/test_m1.csv", index=False)

Now, let's test in kaggle.