In [3]:
from codes import open_file
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

In [4]:
d_train = open_file("../Output/d_train.csv")

In [6]:
d_train.shape
d_train.head()

   Unnamed: 0  id  carat  depth  table  cut_c  color_c  clarity_c     y
0           0   0   1.21   63.0   57.0      4        2          3  6134
1           1   1   0.28   64.0   56.0      2        6          5   532
2           2   2   0.42   61.2   58.0      3        4          4  1103
3           3   3   0.26   61.1   57.0      4        2          7   600
4           4   4   1.10   63.4   57.0      1        3          2  4997

In [7]:
d_test = open_file("../Output/d_test.csv")

In [8]:
print(d_test.shape)
d_test.head()

(13449, 8)

   Unnamed: 0  id  carat  depth  table  cut_c  color_c  clarity_c
0           0   0   0.30   60.0   56.0      4        2          1
1           1   1   0.34   62.1   57.0      4        6          7
2           2   2   1.57   60.3   58.0      2        1          3
3           3   3   0.31   61.8   57.0      4        2          3
4           4   4   1.51   64.0   60.0      1        1          6

In [ ]:
skqlkdlmwkl-afmkelw-

In [1]:
params = {'n_estimators': 750, 'max_depth': 8, 'min_samples_split': 25, 'min_samples_leaf':10,
          'learning_rate': 0.01, 'loss': 'ls'}

In [2]:
GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.01, loss='ls', max_depth=8,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=10, min_samples_split=25,
                          min_weight_fraction_leaf=0.0, n_estimators=750,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

NameError: name 'GradientBoostingRegressor' is not defined

In [ ]:
params = {'n_estimators': 750, 'max_depth': 8, 'min_samples_split': 25, 'min_samples_leaf':10,
          'learning_rate': 0.01, 'loss': 'ls'}

clf = ensemble.GradientBoostingRegressor(**params)

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)